body, html {
  height: 100%;

}

i {
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 80px;
    grid-template-areas: 'left center right'; 
   
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 0.5vw;
    height: 0.5vw;
    display: inline-block;
    border-radius: 10px; 
    border-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: 1px;  

}


.col-1 {
   background-color: bisque; 
   width: 65%;
          
       
}

.first {
    width: 20%;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    
    
    
}

.second {
    width: 40%;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    position: relative;
}

.third {
    width: 15%;
    float: left;
    margin-top: 15px;
    margin-left: 60px;
    position: relative;
}

img {
/*    position: relative;*/
    top: 40px;
    left: 30px;
    width: 50%;
    height: 50%;
/*
    clip: rect(0px,150px,75px,0px);
    border: 10px dotted black;
    background-color: lightblue;
    background-clip: content-box;
*/
    -ms-wrap-flow: start;
}

