.spinner{
  font-size: 140px;
    
     
}
.spinner:after {
  display: inline-block;      
  content: '◌';
  animation: spin 2s linear infinite;
    
}

@keyframes spin{
    from {transform:rotate(0deg);}
    to {transform: rotate(360deg);}
}

#chart {
    border: 1px solid black;
}
